{% extends 'base.html.twig' %}

{% block title %}Bookmark{% endblock %}

{% block body %}
    <h1>Bookmark</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bookmark.id }}</td>
            </tr>
            <tr>
                <th>BookName</th>
                <td>{{ bookmark.bookName }}</td>
            </tr>
            <tr>
                <th>CreationDate</th>
                <td>{{ bookmark.creationDate ? bookmark.creationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ bookmark.url }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_bookmark_index') }}">back to list</a>

    <a href="{{ path('app_admin_bookmark_edit', {'id': bookmark.id}) }}">edit</a>

    {{ include('admin_bookmark/_delete_form.html.twig') }}
{% endblock %}
